<!DOCTYPE html>
<html>
<head>
  <title>Hack Michiana</title>
  <link rel="stylesheet" href="{{ bower }}bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ bower }}font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ static }}css/style.css">
</head>

<body>
  <div class="container">
    <h1>Hi</h1>

    <div class="row">
      <div class="col-md-9">
        {% include "components/home-content.html" %}
      </div>
    </div>



  </div>


  <script src="{{ bower }}jquery/dist/jquery.min.js"></script>
  <script src="{{ bower }}bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
