<!DOCTYPE html>
<html>
<head>
  {% include "components/icons.html" %}
  <title>Hack Michiana</title>
  <link rel="stylesheet" href="{{ bower }}bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ bower }}font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ static }}css/style.css">
</head>

<body data-spy="scroll" data-target="#sidebar_nav">
  <div class="container">
    <div id="top"></div>
    <div id="header">
      <img class="img-responsive" src="{{media}}img/Hack-Michiana-Logo_LG.png">
    </div>

    <div class="row">
      <div class="col-md-3">
        {% include "components/sidebar.html" %}
      </div>
      <div class="col-md-9">
        {% include "components/home-content.html" %}
      </div>
    </div>



    <br><br>

    <div id="footer">
      Hack Michiana, February 2015
    </div>
  </div>


  <script src="{{ bower }}jquery/dist/jquery.min.js"></script>
  <script src="{{ bower }}bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{static}}js/site.js"></script>
</body>

</html>
