#upcoming_events .partners a {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#upcoming_events .partners a img {
  vertical-align: middle;
  width: 100%;
}
#upcoming_events .partners > div {
  height: 100px;
}
#sidebar_nav a {
  border-right: 1px solid transparent;
}
#sidebar_nav .active {
  border-right: 1px solid red;
}
#sidebar_nav.affix {
  top: 10px;
}
