<div class="row">
  <div class="col-md-4">
    <h2>Civic Hacking?</h2>
    <p>
      Civic Hacking describes the nascent community of civic hackers who are building
      apps and tools that benefit their communities and are changing the face of democracy
      using open government data.
      <br />
      <br />
      Click the "Read more" button for more information about Civic Hacking and about
      the <a href="http://hackforchange.org/" target="_blank">National Day of Civic Hacking</a>
      National event.
    </p>
    <p><a class="btn btn-primary" href="#section-5">Read more &raquo;</a></p>
  </div>

  <div class="col-md-4">
    <h2>You can help</h2>
    <p>
      We need coders, artists, organizers, writers, and makers ... anyone who wants to
      volunteer to meet other cool people and make a better Michiana. No coding skills
      are necessary!
    </p>
    <p><a class="btn btn-primary" href="#section-1">Read more &raquo;</a></p>
  </div>

  <div class="col-md-4">
    <h2>Event Information</h2>
    <p>
      The Hack Michiana 2014 event was a huge success. Thank you to all who participated.
      We'd like to invite you, and any other interested individuals, to join us the 2nd
      Thursday of each month at <a href="http://TheBranchSB.com" target="_blank">The Branch</a> (108 N. Main St, Suite 425, South Bend, IN).
    </p>
    <p><a class="btn btn-primary" href="#section-1">Read more &raquo;</a></p>
  </div>
</div>

<div id="event-info">
  <h2 class="page-header">Event Information</h2>

  <p>
    Thanks to everyone that participated in our second annual National Day of Civic Hacking. We'd like to invite you,
    and any other interested individuals, to join us the 2nd Thursday of each month at <a href="http://TheBranchSB.com" target="_blank">The Branch</a> (108 N. Main St, Suite 425, South Bend, IN). We look forward to seeing the projects from NDoCH move forward.


    Thanks again to our National Day of Civic Hacking partners:
  </p>

  <div class="row partners">
    <div class="col-xs-3">
      <a href="http://codeforamerica.org"><img class="img-responsive" src="{{ media }}img/cfa.png" alt="Code for America"></a>
    </div>
    <div class="col-xs-3">
      <a href="https://www.iusb.edu"><img class="img-responsive" src="{{ media }}img/IU.png" alt="Indiana University"></a>
    </div>
    <div class="col-xs-3">
      <a href="http://thebranchsb.com"><img class="img-responsive" src="{{ media }}img/TheBranch.png" alt="The Branch South Bend"></a>
    </div>
    <div class="col-xs-3">
      <a href="http://www.ci.south-bend.in.us"><img class="img-responsive" src="{{ media }}img/SBN.png" alt="South Bend, IN"></a>
    </div>
  </div>
  <div>
    <!-- <a href="http://codeforamerica.org"><img src="img\cfa.png" alt="Code for America" hspace="20" height="96" width="237"></a>
    <a href="https://www.iusb.edu"><img src="img\IU.png" alt="Indiana University" hspace="20" height="115" width="274"></a>
    <a href="http://thebranchsb.com"><img src="img\TheBranch.png" alt="Indiana University" hspace="20" height="72" width="270"></a>
    <a href="http://www.ci.south-bend.in.us"><img src="img\SBN.png" alt="South Bend, IN" height="242" width="250"></a> -->


</div>
