<!--<div id="upcoming_events">
  <h1 class="page-header">Upcoming Events</h1>
-->
<div class="row">
</div>
<div id="about">
  <h1 class="page-header">About</h1>

  <p>
    Hack Michiana is an opportunity for individuals to be engaged citizens and take an active role in our community. We need engineers, technologists, civil servants, community builders, scientists, designers, artists, educators, students, entrepreneurs, project managers (are you reading all people, all skills? that's what's needed) - anybody who is willing to collaborate with others to create, build, and invent to solve challenges relevant to our neighborhoods and our community. There are so many advantages for a community that has these community building events, such as creating space for innovation and spurring economic opportunity. Not to mention, you could increase your personal network and perhaps learn a new skill. Join us for this chance for our community to get inspired and get involved. Join us to hack for change and help reboot citizenship.
  </p>

  <a href="https://github.com/HackMichiana/codeofconduct/blob/master/README.md">Code of Conduct </a>
</div>

<div id="regular_meetings">
  <h1 class="page-header">Regular Meetings</h1>

  <p>
    <strong>Second Thursday of each month @ 5:30pm</strong>

    <address>
      <a href="http://thebranchsb.com/">The Branch</a><br>
      105 E. Jefferson Blvd.<br>
      Suite 500<br>
      South Bend, IN 46601
    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11920.396239904376!2d-86.249805!3d41.675204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb036fc1fb6c6630a!2sThe+Branch+Coworking!5e0!3m2!1sen!2sus!4v1423112852654" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </p>
</div>

<div id="contact">
  <h1 class="page-header">Contact</h1>

  <p>
    <a href="http://hackmichiana.org/">Website</a><br>
    <a href="https://www.facebook.com/groups/HackMichiana/">Facebook</a><br>
    <a href="https://groups.google.com/forum/#!forum/hack-michiana">Google Group</a><br>
    <a href="http://www.meetup.com/Hack-Michiana/">Meetup.com</a><br>
    <a href="https://github.com/HackMichiana">GitHub Organization</a><br>
    <a href="https://github.com/HackMichiana/Organization/wiki">GitHub Organization Wiki</a>
  </p>

  <p>
    <a href="mailto:beth@connecthelp.org">Beth Harsch</a> - (Captain)<br>
    <a href="mailto:dan@neumanagementllc.com">Dan Neumann</a> - (Captain, Community Organizer)
  </p>

</div>

<div id="faq">
    <h1 class="page-header">FAQ</h1>
    <p>
        <strong>I hear about "hackers" in the news. Isn't hacking bad?</strong> - To us,
        a hacker is someone who uses a minimum of resources and a maximum of brainpower
        and ingenuity to create, enhance or fix something. Although in some circumstances
        it is used in a negative sense, the term is not inherently negative, nor does it
        even have to be related to technology.
    </p>
    <p>
        <strong>Who can participate in Hack Michiana?</strong> - Anyone can participate
        in any National Day of Civic Hacking event, throughout the country. To have a successful
        event, we are going to need people from all backgrounds, with a broad range of skills.
        We'll need engineers, technologists, scientists, designers, artists, educators,
        students, entrepreneurs -- anyone who has a passion for changing their community
        and is willing to contribute.<br><br>
        Read this great blog post - <a href="http://hackforwesternmass.org/do-i-have-be-programmer" target="_blank"> Do I have to be a programmer?</a>
    </p>
    <p>
        <strong>Can my company or organization get involved? How?</strong> -Absolutely!
        We're looking for help in the following areas:<br>
        1. Contribute data, code, or a challenge to support the event.<br>
        2. Support the planning of Hack Michiana by contributing resources or funding.<br>
        3. Promote Hack Michiana and encourage subject matter experts, employees, and citizens
        to participate.<br>
        4. Attend Hack Michiana!
    </p>
    <p>
        <strong>Can city, state and federal government help?</strong> - We are looking for
        city, state and federal government agencies who are interested in supporting events
        in their communities around the nation. Support by government and/or city leadership
        may include:<br>
        1. Contribute data, code, or a challenge to support the event.<br>
        2. Promote Hack Michiana and encourage subject matter experts, employees, and citizens
        to participate.<br>
        3. Attend Hack Michiana!
    </p>
</div>

<div id="challenges_examples">
    <h1 class="page-header">
        Challenges &amp; Examples
    </h1>
    <p>
        <strong>Challenges</strong><br>
        <a href="http://hackforchange.org/challenges" target="_blank">Challenges from NDoCH
            site</a> - A curated list of challenges from Federal Government Departments
        and Agencies.
        <br>
    </p>
    <hr>
    <p>
        <strong>Examples</strong><br>
        <a href="http://opencityapps.org/" target="_blank">Open City</a> - Civic Apps Built
        with Open Data.
        <br>
        <br>
        <a href="http://codefortulsa.org/projects/" target="_blank">Code for Tulsa Projects</a>
        - Code for Tulsa creates and maintains civic apps for Tulsa.
        <br>
        <br>
        <a href="http://houstonhackathon.com/sample.html" target="_blank">City of Houston Sample
            Projects</a> - These projects are closely aligned to Mayor Annise Parker's Priorities.
        They also represent noticeable pain points for the City.
        <br>
        <br>
        <a href="https://hackforchange.hackpad.com/HACK-KANSAS-CITY-Wo92E6vEb6Z" target="_blank">
            Hack Kansas City</a> - Project pitches.
        <br>
        <br>
        <a href="http://codeforphilly.org/projects" target="_blank">Code for Philly</a>
        - Civic Projects Directory.
        <br>
        <br>
        <a href="https://github.com/anatheum/HackForChangeNashville/blob/master/PlanningMeetingMay9" target="_blank">HackForChangeNashville</a> - Project ideas.
    </p>
</div>

<div id="datasets">
    <h1 class="page-header">
        Datasets
    </h1>
    <p>
        <a href="http://hackforchange.org/datasets" target="_blank">Datasets and Resources from
            NDoCH site</a> - A curated list of datasets.
        <br>
        <br>
        <a href="http://www.data.gov/opendatasites" target="_blank">Data.Gov</a> - Open
        Data Sites.
        <br>
        <br>
        <a href="http://services.faa.gov/" target="_blank">Federal Aviation Administration (FAA)</a>
        - Web Services.
        <br>
        <a href="http://services.faa.gov/docs/services/" target="_blank">FAA</a> - Web Services
        catalog.
        <br>
        <br>
        <a href="http://www.opengovtplatform.org/" target="_blank">Open Government Platform</a>
        - OGPL To Promote Transparency And Citizen Engagement.
        <br>
        <br>
        <a href="http://nationsreportcard.gov/data_tools.aspx" target="_blank">The Nation's
            Report Card (Data tools)</a> - The National Assessment of Educational Progress
        (NAEP) is the largest nationally representative and continuing assessment of what
        America's students know and can do in various subject areas.
        <br>
        <br>
        <a href="http://www.in.gov/core/search_results.html?q=data&amp;cof=FORID%3A10&amp;ie=UTF-8&amp;num=10&amp;site=default_collection&amp;client=default_frontend&amp;proxystylesheet=default_frontend&amp;proxyreload=1&amp;getfields=State%2BAgency.IN%25252Egov%2BCategory&amp;output=xml_no_dtd&amp;entqr=1" target="_blank">State of Indiana</a> - SEARCH: Data.
    </p>
</div>
