<nav id="sidebar_nav" class="hidden-sm hidden-xs">
  <ul class="nav">
    <li><a href="#top">Home</a></li>
    <!--<li><a href="#upcoming_events">Upcoming Events</a></li> -->
    <li><a href="#about">About</a></li>
    <li><a href="#seminar">Hack Michiana Seminar Series</a></li>
    <li><a href="#regular_meetings">Regular Meetings</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#challenges_examples">Challenges &amp; Examples</a></li>
    <li><a href="#datasets">Datasets</a></li>
  </ul>
</nav>
